@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sen:wght@400;700;800&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(255, 255, 0);
  font-family: "Sen", sans-serif;
}

.center {
  z-index: 10;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: vanish 5s forwards;
  position: absolute;
  background-color: rgb(255, 255, 0);
  overflow: hidden;
}
.center .wave {
  width: 5px;
  height: 100px;
  background: rgb(0, 49, 66);
  margin: 10px;
  animation: wave 1s linear infinite;
  border-radius: 20px;
}
.center .wave:nth-child(2) {
  animation-delay: 0.1s;
}
.center .wave:nth-child(3) {
  animation-delay: 0.2s;
}
.center .wave:nth-child(4) {
  animation-delay: 0.3s;
}
.center .wave:nth-child(5) {
  animation-delay: 0.4s;
}
.center .wave:nth-child(5) {
  animation-delay: 0.5s;
}
.center .wave:nth-child(7) {
  animation-delay: 0.6s;
}
.center .wave:nth-child(8) {
  animation-delay: 0.7s;
}
.center .wave:nth-child(9) {
  animation-delay: 0.8s;
}
.center .wave:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes vanish {
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
.container {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  width: 90%;
  margin: auto;
  padding-block: 1rem;
  position: relative;
  gap: 10px;
}
.container .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  width: 100%;
}
.container .header .line {
  width: 100%;
  height: 5px;
  border-radius: 100px;
  background-color: rgb(0, 49, 66);
}
.container .directives {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 10px;
  justify-content: center;
  width: 100%;
}
.container .section {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  margin: auto;
  padding-block: 1rem;
  position: relative;
  gap: 10px;
  margin-block: 2rem;
  justify-content: center;
}
.container .section .card {
  background-color: rgb(0, 49, 66);
  padding: 0.5rem;
  display: flex;
  flex: 1;
  flex-flow: column wrap;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
}
.container .section .card .card-img {
  width: 200px;
  height: 200px;
}
.container .section .card .card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  filter: contrast(2);
}
.container .section .card .card-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.container .section .card .card-txt {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  text-align: center;
}
.container .section .card .card-txt h3 {
  font-size: 1.5rem;
  color: rgb(255, 255, 0);
  text-decoration: underline;
}
.container .section .card .card-txt p {
  font-size: 1rem;
  line-height: normal;
  color: #fff;
}
.container .section .card .card-socials a:hover {
  opacity: 0.5;
}
.container .section .card .frame-down {
  display: flex;
  align-self: flex-end;
}
.container .section .card .frame-up {
  display: flex;
  align-self: flex-start;
}