@media screen and (max-width:50em) {
    .container{
        align-items: center;
        text-align: center;
        h1{
            font-size: 3rem;
            margin-block: 1em;
        }
        p{
            font-size: 1rem;
            line-height: normal;
            max-width: 100%;
        }

        button{
            margin-block: 2rem;
        }
        .footer{
            flex-direction: column;
        }
        .avatar-yvan, .avatar-pride, .avatar-ryan{
            display: none;
        }
    }
    .frame{
        width: 10rem;
    }
    .sapien{
        width: 20%;
    }
}